<form action="" class="col gap-24" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col gap-6">
        <label for="name">Name *</label>
        <input type="text" id="name" formControlName="name" required>

        <small *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
            Name is required
        </small>
    </div>

    <div class="col gap-6">
        <label for="race">Race *</label>
        <input type="text" id="race" formControlName="race" required>

        <small *ngIf="form.get('race')?.invalid && (form.get('race')?.dirty || form.get('race')?.touched)">
            Race is required
        </small>
    </div>

    <div class="row gap-24 justify-content-flex-end">
        <button type="button" class="button-secondary" (click)="onResetToDefaultsClick()">Reset to defaults</button>
        <button type="submit" class="bg-blue" [disabled]="!form.valid">Create</button>
    </div>
</form>