<app-modal [(open)]="confirmCharacterDeletionModalOpen">
    <div title>Are you sure?</div>

    <div body class="col gap-24">
        <p>Are you sure you want to delete this character? This action can't be reversed!</p>
        
        <div class="row gap-24 justify-content-flex-end">
            <button type="button" class="button-secondary" (click)="onCharacterDeleteClick()">Yes</button>
            <button type="submit" class="bg-blue" (click)="confirmCharacterDeletionModalOpen = false">No</button>
        </div>
    </div>
</app-modal>

<div class="col gap-24">
    <div class="row justify-content-space-between align-items-center">
        <h1>{{character.name}}</h1>
        <button class="button-secondary" (click)="confirmCharacterDeletionModalOpen = true">Delete</button>
    </div>

    <form class="col gap-18">
        <div class="col gap-6">
            <label for="name">Name</label>
            <input type="text" id="name" readonly value="{{character.name}}">
        </div>

        <div class="row gap-18">
            <div class="col gap-6">
                <label for="race">Race</label>
                <input type="text" id="race" readonly value="{{character.race}}">
            </div>

            <div class="col gap-6">
                <label for="sex">Sex</label>
                <input type="text" id="sex" readonly value="{{character.sex?.text}}">
            </div>

            <div class="col gap-6">
                <label for="age">Age</label>
                <input type="text" id="age" readonly value="{{character.age}}">
            </div>

            <div class="col gap-6">
                <label for="size">Size</label>
                <input type="text" id="size" readonly value="{{character.size?.text}}">
            </div>

            <div class="col gap-6">
                <label for="alignment">Alignment</label>
                <input type="text" id="alignment" readonly value="{{character.alignment?.text}}">
            </div>
        </div>

        <div class="col gap-6">
            <label for="notes">Notes</label>
            <textarea id="notes" rows="3" value="{{character.notes}}" readonly></textarea>
        </div>
    </form>
</div>