<app-modal [(open)]="confirmCharacterDeletionModalOpen">
    <div title>Are you sure?</div>

    <div body class="col gap-24">
        <p>Are you sure you want to delete this character? This action can't be reversed!</p>
        
        <div class="row gap-24 justify-content-flex-end">
            <button type="button" class="button-secondary" (click)="onCharacterDeleteClick()">Yes</button>
            <button type="submit" class="bg-blue" (click)="confirmCharacterDeletionModalOpen = false">No</button>
        </div>
    </div>
</app-modal>

<div class="col gap-24">
    <div class="col gap-12">
        <a [routerLink]="['/campaign', character.campaignId, 'characters']" class="row align-items-center gap-6">
            <p><small><i class="fa-solid fa-chevron-left"></i></small> View all characters</p>
        </a>
        <div class="row justify-content-space-between align-items-center">
            <h1>{{character.name}}</h1>
            <div class="row gap-12">
                <button class="button-secondary" (click)="onResetToDefaultClick()" [disabled]="!form.dirty">Reset changes</button>
                <button class="button-secondary" (click)="onSaveChangesClick()" [disabled]="!form.valid || !form.dirty">Save changes</button>
                <div class="v-seperator"></div>
                <button class="button-secondary" (click)="confirmCharacterDeletionModalOpen = true">Delete</button>
            </div>
        </div>
    </div>

    <form class="col gap-18" [formGroup]="form">
        <div class="col gap-6">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" required>
        </div>

        <div class="row gap-18 flex-wrap align-content-stretch">
            <div class="col gap-6">
                <label for="race">Race</label>
                <input type="text" id="race" formControlName="race">
            </div>

            <div class="col gap-6">
                <label for="sex">Sex</label>
                <input type="text" id="sex" formControlName="sex">
            </div>

            <div class="col gap-6">
                <label for="age">Age</label>
                <input type="text" id="age" formControlName="age">
            </div>

            <div class="col gap-6">
                <label for="size">Size</label>
                <select formControlName="size" id="size">
                    <option *ngFor="let s of sizeSeed" value="{{s.text}}" [selected]="s.text === character.size">{{s.text}}</option>
                </select>
            </div>

            <div class="col gap-6">
                <label for="alignment">Alignment</label>
                <select formControlName="alignment" id="alignment">
                    <option *ngFor="let a of alignmentSeed" value="{{a.text}}" [selected]="a.text === character.alignment">{{a.text}}</option>
                </select>
            </div>
        </div>

        <div class="col gap-6">
            <label for="description">Description</label>
            <textarea id="description" rows="3" formControlName="description"></textarea>
        </div>

        <div class="col gap-6">
            <label for="notes">Notes</label>
            <textarea id="notes" rows="6" formControlName="notes"></textarea>
        </div>
    </form>
</div>