button, .button {
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: var(--color-veryDarkGrey);
    padding: 12px 24px;
    box-shadow: var(--shadow-light);
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;

    &.active {
        background-color: var(--color-blue);
    }

    &:disabled {
        opacity: 0.2;
    }
}

.button-icon {
    cursor: pointer;
}

.button-long {
    opacity: 0.6;
    font-weight: 600;
    padding: 6px 24px;
    border-radius: 4px;
    &.active {
        opacity: 1;
        color: var(--color-black);
        background-color: white;
    }
}