label {
    font-size: 16px;
    font-weight: 300;
}

input, textarea, select {
    border: none;
    background: var(--color-veryDarkGrey);
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: var(--shadow-light);

    &:active:not(select) {
        border: none;
    }

    resize: none;
}

select {
    border-right: 16px solid transparent;
}