<div class="col gap-24">
    <div class="shadow" style="background: linear-gradient(270deg, rgba(34,34,34,0) 0%, rgba(34,34,34,1) 100%), url({{campaign.bannerURL}}); background-size: cover; background-position: center;">
        <div class="col px-54 py-24 gap-12">
            <a routerLink="" class="row align-items-center gap-6">
                <p><small><i class="fa-solid fa-chevron-left"></i></small> View all your campaigns</p>
            </a>
            <h1>{{campaign.name}}</h1>
        </div>
    </div>
    
    <div class="row px-54 gap-32">
        <div class="col gap-6" style="width: 12%">
            <a class="button-long" routerLink="general-information" routerLinkActive="active">General information</a>
            <a class="button-long" routerLink="characters" routerLinkActive="active">Characters</a>
            <a class="button-long" routerLink="sites" routerLinkActive="active">Sites</a>
            <a class="button-long" routerLink="regions" routerLinkActive="active">Regions</a>
            <a class="button-long" routerLink="areas" routerLinkActive="active">Areas</a>
            <a class="button-long" routerLink="items" routerLinkActive="active">Items</a>
            <a class="button-long" routerLink="spells" routerLinkActive="active">Spells</a>
        </div>

        <div class="col" style="flex: auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>