<app-modal [(open)]="createCharacterModalOpen">
    <div title>Create new character</div>

    <app-create-character-form body (submitEvent)="onSubmitEvent($event)"></app-create-character-form>
</app-modal>

<div class="col gap-32">
    <div class="row justify-content-space-between align-items-center">
        <h1>Characters</h1>

        <button (click)="onModalClick()">
            Create a new character
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>

    <div class="col gap-18">
        <div *ngFor="let character of characters" class="col gap-12 bg-veryDarkGrey py-12 px-24 border-smooth shadow-light">
            <div class="row align-items-center gap-12">
                <h3>{{character.name}}</h3>
                <p>{{character.race}}</p>
            </div>
        </div>
    </div>
</div>