h1 {
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

p {
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
}