@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap');

@import 'shared/reset';
@import 'shared/variables';

@import 'shared/utility/layout';
@import 'shared/utility/typography';

@import 'shared/components/button';
@import 'shared/components/form';
@import 'shared/components/modal';
@import 'shared/components/overlay';

router-outlet {
    display: none;
}

html {
    background-color: var(--color-black);
    * {
        font-family: 'Inter', sans-serif;
        color: white;
    }
}

.px-54 {
    padding-left: 54px;
    padding-right: 54px;
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.px-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.bg-reallyBlack {
    background-color: var(--color-reallyBlack);
}

.bg-reallyBlack-transparent {
    background-color: var(--color-reallyBlackT);
}

.bg-veryDarkGrey {
    background-color: var(--color-veryDarkGrey);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-blue {
    background-color: var(--color-blue);
}

.shadow {
    box-shadow: var(--shadow);
}

.shadow-light {
    box-shadow: var(--shadow-light);
}

.border-smooth {
    border-radius: 4px;
}

.text-weight-light {
    font-weight: 300;
}

.text-uppercase {
    text-transform: uppercase;
}

.tag {
    font-size: 14px;
    font-weight: 300;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--color-black);
}

small {
    font-size: 12px;
    font-weight: 300;
}

img {
    object-fit: cover;
}

.subtle {
    opacity: 0.6;
}

button,
.button,
.button-secondary,
.button-icon,
.button-long,
a {
    transition: 0.1s;
    &:hover:not([disabled]) {
        opacity: 0.6;
    }
}

.v-seperator {
    background-color: var(--color-veryDarkGrey);
    width: 2px;
}