<app-modal [(open)]="createCampaignModalOpen">
    <div title>Create new campaign</div>

    <app-create-campaign-form body (submitEvent)="onSubmitEvent($event)"></app-create-campaign-form>
</app-modal>

<app-modal [(open)]="clearAllDataModalOpen">
    <div title>Are you sure?</div>

    <div body class="col gap-24">
        <p>Are you sure you want to delete all data? This action can't be reversed!</p>
        
        <div class="row gap-24 justify-content-flex-end">
            <button type="button" class="button-secondary" (click)="onClearAllDataClick()">Yes</button>
            <button type="submit" class="bg-blue" (click)="clearAllDataModalOpen = false">No</button>
        </div>
    </div>
</app-modal>

<ng-container *ngIf="campaigns.length === 0">
    <div class="col align-items-center gap-12 py-12 px-24 absolute-center">
        <h1>Welcome to the knowledge vault!</h1>

        <button (click)="onCreateCampaignModalClick()">
            Start by creating a new campaign
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</ng-container>

<ng-container *ngIf="campaigns.length > 0">
    <div class="col gap-32 px-54 py-32">
        <div class="row justify-content-space-between">
            <h1>Campaigns</h1>
            <div class="row gap-12">
                <button class="button-secondary" (click)="onClearAllDataModalClick()">
                    Clear all data
                    <i class="fa-regular fa-trash-can"></i>
                </button>

                <button (click)="onCreateCampaignModalClick()">
                    Create a new campaign
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="grid">
            <ng-container *ngFor="let campaign of campaigns">
                <a [routerLink]="['/campaign', campaign.id]" class="col bg-veryDarkGrey shadow-light border-smooth" style="overflow: hidden;">
                    <div class="col" style="overflow: hidden;">
                        <img src="{{campaign.bannerURL}}" alt="" style="height: 220px;">
                    </div>
                    <div class="col gap-12 py-12 px-24">
                        <h2>{{campaign.name}}</h2>
            
                        <div *ngIf="campaign.tags && campaign.tags.length > 0" class="row gap-12">
                            <div class="tag" *ngFor="let tag of campaign.tags">{{tag.text}}</div>
                        </div>
        
                        <p class="subtle" *ngIf="!campaign.tags || campaign.tags.length < 1">No tags available</p>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
</ng-container>